body {
  color: white;
  background-color: #d1c9c9;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#location {
  color: white;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 420px;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  display: flex;
  margin: 10px;
  padding: 12px;
  width: 90%;
  background-color: rgb(146, 146, 146);
  border-radius: 1.25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-weather {
  background-color: lightskyblue;
  justify-content: space-between;
}

.detail-weather {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  /* justify-content: space-around; */
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 49%;
  flex-grow: 1;
  flex-shrink: 1;
}

.l {
  margin-right: 5px;
}
.r {
  margin-left: 5px;
}

.list-details {
  padding: 5px;
  align-items: center;
  display: flex !important;
  flex-flow: row nowrap;
}

.temp-container {
  display: flex;
  width: 70%;
}

#current-temp {
  font-size: 96px;
  margin-top: -1rem;
}

/* #current-temp::after {
  content: "°";
} */

.current-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#weather-description {
  position: relative;
  font-size: 22px;
  font-weight: 500;
  bottom: 1rem;
  right: 1rem;
}

.feels-like-temp {
  text-align: start;
  padding-left: 0.25rem;
}

#weather-icon {
  width: 125px;
  height: 125px;
  /* position: relative; */
  align-self: center;
}

.min-max-container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding-left: 0.5rem;
}

#min-max-temp {
  justify-content: space-around;
  display: flex;
}

#min-temp,
#max-temp {
  font-size: 18px;
}

#max-temp {
  margin-right: 0.5rem;
}

.five-day-weather {
  /* padding: 0; */
  padding-bottom: 1rem;
}

.list-container {
  text-align: center;
  flex-grow: 1;
}

.list-container h2 {
  margin: 0;
}

.label {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

.daily-temp-max {
  font-size: 40px;
  font-weight: 600;
}

.daily-temp-min {
  font-size: large;
}

.daily-icon {
  margin-top: 10px;
}

.daily-weather-icon {
  width: 50px;
  height: 50px;
}

.daily-weather-list {
  padding-left: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.weather-column {
  list-style-type: none;
  /* display: inline-block; */
  vertical-align: top;
  flex-basis: 20%;
  /* justify-content: center; */
}

.search-input {
  background-image: url("/content/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right; /* adjust the position of the image */
  height: auto;
  border-radius: 0.4rem;
  padding: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 570px) {
  .l {
    margin-right: 3px;
  }
  .r {
    margin-left: 3px;
  }
}
